PUBLIC_GOOGLE_OAUTH_CLIENT_ID=
PUBLIC_EXTRATOR_API_URL=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT_URI=https://madrinhadosono.online/app-extrator/auth/google/callback
GOOGLE_SESSION_SECRET=
